/* your styles go here */
#banner_akron div:nth-child(2) .form-control{
    /* background-color: greenyellow !important; */
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
}

#mt-19em {
    margin-top: 11em;
    /* background: greenyellow; */
}

@media (max-width: 992px){
    #mt-19em {
        margin-top: 1em;
    }
}

.green{
    color: greenyellow ;
}

#service  p , #products p {
    color: white;
    /* background: greenyellow; */
}


a[class="btn btn-outline-danger btn-block"] {
   
    color: #dc3545 !important;
  }

a[class="btn btn-outline-danger btn-block"]:hover {
    color: #fff !important;
    background: #dc3545 !important;
}
