
/* your styles go here */
/* General */

 .bg-header-gas{
    background-image: url('../img/gas-station/header.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100% 100%;
 }

.bg-header{
    background: rgb(0, 45, 94)
}

/* header */

    /* login */

header > nav > div:nth-child(2) > div > div:nth-child(2) > div > div > div > div:nth-child(3) a {
    background:red;
    border-radius: 0em;
    color: #fff;

}


header > nav > div:nth-child(2) > div > div:nth-child(2) > div > div > div:nth-child(2) > div > form input {
    border-radius: 0em;
    background: #fff;
}

header > nav > div:nth-child(2) > div > div:nth-child(2) > div > div > div:nth-child(2) > div > form a:hover {
    background: #fff;
    color: black;
}

header > nav > div:nth-child(2) > div > div:nth-child(2) > div > div > div:nth-child(2) > div > form .btn {
   background: red;
   color: #fff;
   border-radius: 0em;
}

/* The container */
.container_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    font-weight: lighter;
    font-size: 15px;
  }
/* Hide the browser's default checkbox */
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
    background-color: #ccc;
  }
/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
    background-color: red;
  }
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
    display: block;
  }

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

    /* login END */

header > nav > div:nth-child(2) > div div:nth-child(4) > div > div > div:nth-child(6) .btn {
    /* background: #28a745; */
    background: red;
    border-radius: 0em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #fff !important;
}

header > nav > div:nth-child(2) > div div:nth-child(4) > div > div > div div:nth-child(2) > div > form > div .btn{
    border-radius: 0em;
    font-size: .7em;
    padding: .5em;
}

header > nav > div:nth-child(2) > div div:nth-child(4) > div > div > div div:nth-child(2) > div > form > div .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

header > nav > div:nth-child(2) > div div:nth-child(4) > div > div > div div:nth-child(2) > div > form > div input{
   margin-top: .3em; 
   height: 1.7em;
   text-align: center;
}

header > nav > div:nth-child(2) > div div:nth-child(4) > div{
    padding-top: .1em !important;
    padding-bottom: .5em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

header > nav >div:nth-child(2) > div >div:nth-child(3) a {
    padding: .25rem 1.5rem;
    color: #212529;
    margin-bottom: 0em;
}

header > nav >div:nth-child(2) > div >div:nth-child(3) > div a:hover {
    color: red;
}

header > nav >div:nth-child(2) > div >div:nth-child(3) > div  {
    margin-top: 0 !important;
}

ul{
    width: 100%;
}

header > nav{
    flex-flow: nowrap !important;
    position: relative !important;
    display: block!important;
    align-items: center !important;
}


/* --- Menu--- */
#banner_akron div:nth-child(2) .form-control{
    /* background-color: greenyellow !important; */
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
}

#mt-19em {
    margin-top: 11em;
    /* background: greenyellow; */
}


.green{
    color: greenyellow ;
}

#service  p , #products p , #industria p {
    color: white;
    /* background: greenyellow; */
}

/* Home */

a[class="btn btn-danger"] {
   
    color: #fff !important;
    border-radius: 0px;
    
  }

a[class="btn btn-danger"]:hover {
    color: #fff !important;
    background: #dc3545 !important;
}

a[class="btn btn-success"] {
    color: #fff !important;
    border-radius: 0;
    
}
a[class="btn btn-success"]:hover {
    background: #28a745;
    
}

.post_triangulo_top_left {
    width: 40px;
    height: 0;
    border-top: 30px solid #0071c3;
    border-right: 30px solid transparent;
    z-index: 2;
}

/* --- Productos --- */
#index_products > div:nth-child(1){
    background-image: url('../img/header/header_products.png');
    background-repeat:no-repeat;
    background-position:center;
}

.heder_blue{
    width: 100%;
    height:100%;
    opacity: .9;
}

.heder_black{
    width: 100%;
    height:100%;
    opacity: .5;
    background-color: black;
}
.header-svg{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3em;
}

.tooltip.in{
    filter:alpha(opacity=90);
    opacity:.9
}

section >div >div > div:nth-child(2) > div > div > div>div:nth-child(6) button {
    /* background: green; */
    border-radius: 2px;
    height: 38px;
}

section >div >div > div:nth-child(2) > div > div > div>div:nth-child(6) .form-control {
   padding-top: 0;
   padding-bottom: 0;
}

.header-product{
    position: relative;
    height: 20em;
    background-image: url('../img/empresa/banner_01.jpg');
    background-repeat:no-repeat;
    background-position:center;
}

.custom-select {
    border-radius: 0px;
}

#list-products div:nth-child(3) > div:nth-child(2) > ul {
    margin-top: 1em;
    justify-content: flex-end !important;
    /* background: greenyellow; */
}
#list-products div:nth-child(3) > div:nth-child(2) > ul li{ 
    margin-left: 1em;
    margin-right: 1em;
    color: black;
}

#list-products div:nth-child(3) > div:nth-child(2) > ul li a{ 
    color: black;
}

#list-products div:nth-child(3) > div:nth-child(2) > ul li:last-child{
    
    margin-right: 0em;
}

/* Products End */

.header-gas{
    position: relative;
    height: 20em;
    background-image: url('../img/gas-station/header.png');
    background-repeat:no-repeat;
    background-position:center;
}

/* Gasolineras */
#gas > div > div > div:nth-child(2) > div > section > div > div{
    margin-bottom: 1.5em;
}

#gas > div > div > div:nth-child(2) > div > section {
    border: solid 1px;
    border-color: rgba(0, 168, 226, 255);

}

#gas section > div > div > div:nth-child(2) > div > div > .row > p span {
    /* background: #28a745; */
    color :rgb(0, 61, 167)
}
#gas section > div > div > div:nth-child(2) > div > div > .row > p bdi {
    /* background: #28a745; */
    color :rgb(98, 167, 15)
}

#gas section > div > div > div:nth-child(2) > div > div > .row > ul {
    list-style-image: url('../img/gas-station/rigth.png');
    /* background-image: url('../img/gas-station/rigth.png') no-repeat; */
}

/* Carrito de compra  */

#shopping_cart > div:nth-child(2) > div:nth-child(6) > div > div:nth-child(3) > div:first-child > div > .btn {
    background: gray;
    border-radius: 0;
    color: white;
    margin-right: 0.5em;
}

#shopping_cart > div:nth-child(2) > div:nth-child(6) > div > div:nth-child(3) > div:last-child > div > .btn {
    background: red;
    border-radius: 0;
    color: white;
    margin-left: 0.5em;
}

.bnt , .btn-default {
    border-radius: 0em;
}

.bnt , .btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

input{
    text-align: center;
}

@media (max-width: 1845px) {
    .header-product{
        height: 27em;
    }
}

@media (max-width: 1366px) {
    .header-product{
        height: 20em;
    }
}

@media (max-width: 1120px) {
    .header-product{
        height: 17em;
    }
}

@media (max-width: 992px){
    #mt-19em {
        margin-top: 1em;
    }
    .header-product{
        height: 15.4em;
    }
}

@media (max-width: 768px) {
    .header-product{
        height: 13em;
    }
}

@media (max-width: 575px) {
    .header-product{
        height: 10.1em;
    }
}

@media (max-width: 380px) {
    .header-product{
        height: 7.9em;
    }
}

.fill_red{
    fill: rgba(225, 37, 28, 255)
}

.fill_0c4479{
    fill: rgba(10, 71, 128, 255)
}

.bg_0c4479{
    background-color: rgba(10, 71, 128, 255)
}