body {
background:#fff;
font-family: "Oswald",sans-serif !important;
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}
.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    /* border-left: solid .1px;
    border-right: solid .1px; */

}
.nbs-flexisel-item img {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}
.caja-txt {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.caja-txt p {
    margin-bottom: 0;
    font-size: 10px;
}
.btn-comprar {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}
.btn-comprar a {
    width: 100px;
    padding: 8px 0px;
    background-color: red;
    font-size: 12px;
    font-weight: lighter;
    color: #fff !important;
}
.fondo-inferior {
    background:url(../img/home_area-bannerinferior-instagram.png);
    background-size: 100% 100%;
}
.icons-social li img {
    width: 43px;
    margin-right: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding: 8px 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 2px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;    
}

.nbs-flexisel-nav-left {
    left: 17px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}